/* Base styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: rgba(15, 124, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
    size: 16px;
    color: black;
}

input[type="text"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
    width: 100%; /* Makes the input field take the full width of its container */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

form > div {
    margin-bottom: 15px; /* Space between form elements */
}

button {
    background-color: #a86161;
    color: white;
    border: none;
    padding: 10px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    align-self: center; /* Aligns the button to the center of its container */
}

button:hover {
    background-color: #a86161;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.sound-wave {
    margin-top: 20px;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e7f1ff;
    border-radius: 4px;
}

.result h2 {
    margin-top: 0;
    color: #333;
}

a {
    color: #a86161;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
